<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Shah_50291126">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/download"
        android:label="50291126_Shah"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.Shah_50291126.Splash"
            android:label="50291126_Shah" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.Shah_50291126.GPS" />
        <activity android:name="com.example.Shah_50291126.About" />
        <activity android:name="com.example.Shah_50291126.Fall" />
        <activity android:name="com.example.Shah_50291126.Proximity" />
        <activity android:name="com.example.Shah_50291126.Light" />
        <activity android:name="com.example.Shah_50291126.Magnetometer" />
        <activity android:name="com.example.Shah_50291126.Gyroscope" />
        <activity android:name="com.example.Shah_50291126.Accelerometer" />
        <activity android:name="com.example.Shah_50291126.MainActivity">
            <intent-filter>


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>